In [1]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv(r"C:\Users\Vaibhav\OneDrive\Python\sales.csv")

               sales
date
2010-08-09  12726.01
2011-10-28   8990.46
2010-05-06   8490.90
2011-03-31   5593.59
2010-11-19   5084.89

In [ ]:
#Question 4
df['sales']  = df['Quantity']*df.Price
df['date'] = pd.to_datetime(df.InvoiceDate).dt.date
df[df['Country']=="France"].groupby('date').agg({'sales':'sum'}).sort_values(by = 'sales',ascending=False).head()

In [76]:
#Question 5
df[df['date'] == pd.to_datetime('2011-06-22',format='%Y-%m-%d').date()]['Customer ID'].nunique()

57

In [80]:
#Question 3
df3 = pd.DataFrame({'City\tState': ["Kolkata\tWest Bengal", "Chennai\tTamil Nadu", "Hyderabad\tTelengana", "Bangalore\tKarnataka"]})

In [81]:
df3.head()

            City\tState
0  Kolkata\tWest Bengal
1   Chennai\tTamil Nadu
2  Hyderabad\tTelengana
3  Bangalore\tKarnataka

In [102]:
data = df3.iloc[:,0].str.split('\t')

In [107]:
cols = df3.columns[0].split('\t')
data.to_list()

[['Kolkata', 'West Bengal'],
 ['Chennai', 'Tamil Nadu'],
 ['Hyderabad', 'Telengana'],
 ['Bangalore', 'Karnataka']]

In [108]:
pd.DataFrame(data.to_list(),columns=cols)

        City        State
0    Kolkata  West Bengal
1    Chennai   Tamil Nadu
2  Hyderabad    Telengana
3  Bangalore    Karnataka

In [110]:
RID = [56, 92, 29, 93, 55, 32] 
RDate = ['2021-01-01', '2021-02-12', '2021-04-16', '2021-01-22', '2021-01-15', '2021-02-26']
df6 = pd.DataFrame(zip(RID,RDate),columns=['RID','RDate'])

In [111]:
df6

   RID       RDate
0   56  2021-01-01
1   92  2021-02-12
2   29  2021-04-16
3   93  2021-01-22
4   55  2021-01-15
5   32  2021-02-26

In [124]:
df6.RDate = pd.to_datetime(df6.RDate)
df6['RMonth'] = df6.RDate.dt.month
df6['RYear'] = df6.RDate.dt.year
df6['RDay'] = df6.RDate.dt.day
df6

In [134]:
s = "How much wood would a woodchuck chuck if a woodchuck could chuck wood"
L = [str(i) for i in s.split(" ")]

In [135]:
L

['How',
 'much',
 'wood',
 'would',
 'a',
 'woodchuck',
 'chuck',
 'if',
 'a',
 'woodchuck',
 'could',
 'chuck',
 'wood']

In [149]:
pd.Series([str(i) for i in s.split(" ")]).value_counts().sort_index()

How          1
a            2
chuck        2
could        1
if           1
much         1
wood         2
woodchuck    2
would        1
Name: count, dtype: int64

In [163]:
s = '25th Apr 2217'
pd.to_datetime(s).strftime('%Y-%m-%d')

'2217-04-25'