In [112]:
import pandas as pd
import numpy as np

In [113]:
df = pd.DataFrame([['2019-03-23 20:21:09', '2019-03-23 20:27:24', 1, 1.6], ['2019-03-04 16:11:55', '2019-03-04 16:19:00', 1, 0.79], ['2019-03-27 17:53:01', '2019-03-27 18:00:25', 1, 1.37], ['2019-03-10 01:23:59', '2019-03-10 01:49:51', 1, 7.70], ['2019-03-30 13:27:42', '2019-03-30 13:37:14', 3, 2.16]], columns = ['pickup', 'dropoff', 'passengers', 'distance'])

In [114]:
df

                pickup              dropoff  passengers  distance
0  2019-03-23 20:21:09  2019-03-23 20:27:24           1      1.60
1  2019-03-04 16:11:55  2019-03-04 16:19:00           1      0.79
2  2019-03-27 17:53:01  2019-03-27 18:00:25           1      1.37
3  2019-03-10 01:23:59  2019-03-10 01:49:51           1      7.70
4  2019-03-30 13:27:42  2019-03-30 13:37:14           3      2.16

In [115]:
def tod(X):
    if X.time() < pd.to_datetime("06:00:00").time():
        return "morning"
    elif X.time() < pd.to_datetime("12:00:00").time():
        return "day"
    elif X.time() < pd.to_datetime("18:00:00").time():
        return "afternoon"
    else:
        return "night"

In [116]:
df['pickup_dt'] = pd.to_datetime(df['pickup'])

In [117]:
c = df.loc[0]['pickup_dt']

In [118]:
type(c)

pandas._libs.tslibs.timestamps.Timestamp

In [119]:
d = pd.to_datetime('20:00:00').time()

In [120]:
print(type(d))
d

<class 'datetime.time'>

datetime.time(20, 0)

In [121]:
type(c.time())

datetime.time

In [122]:
c.time()<d

False

In [123]:
df['time_of_day'] = df.pickup_dt.apply(tod)

In [124]:
df

,pickup,dropoff,passengers,distance,pickup_dt,time_of_day
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,2019-03-23 20:21:09,night
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,2019-03-04 16:11:55,afternoon
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,2019-03-27 17:53:01,afternoon
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,2019-03-10 01:23:59,morning
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,2019-03-30 13:27:42,afternoon

In [151]:
df.groupby(by = 'time_of_day')["pickup"].count()
sample = {'day': sum(df.time_of_day == "day"),
          'afternoon': sum(df.time_of_day == "afternoon"),
          'night': sum(df.time_of_day == "night"),
          'morning': sum(df.time_of_day == "morning")}

In [156]:
ser = pd.Series(sample,index=['day','afternoon','night','morning']).fillna(0)
ser.convert_dtypes(int)
ser.name = 'pickup'
ser
ser.rename_axis('time_of_day', inplace=True)
ser

time_of_day
day          0
afternoon    3
night        1
morning      1
Name: pickup, dtype: int64

In [161]:
ser = ser.sort_values(ascending=False)
ser

time_of_day
afternoon    3
night        1
morning      1
day          0
Name: pickup, dtype: int64

In [163]:
df.groupby(by = 'time_of_day')["pickup"].count()

time_of_day
afternoon    3
morning      1
night        1
Name: pickup, dtype: int64